
html {
    scroll-behavior: smooth;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background: #121212;
    font-family: 'Nunito Sans', sans-serif;
    color: #ffffff;
    overflow-x: hidden;
    overflow-y: auto;
    height: fit-content;
}


header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: transparent;
    color: #dcdcdc;
    padding: 1rem 2rem;
    display: flex;
    justify-content: center;
    z-index: 10;
    opacity: 0;
    transition: opacity 0.5s ease;
}

header.visible {
    opacity: 1;
}

.nav-container {
    font-family: 'Staatliches', sans-serif;
    display: flex;
    width: 100%;
    max-width: 1200px;
}

.nav-left, .nav-right {
    display: flex;
    align-items: center;
}

.nav-left {
    flex: 1;
}

.nav-right {
    flex: 3;
    justify-content: flex-end;
}

.nav-about, .nav-showreel, .nav-port, .nav-gal, .nav-work {
    font-family: 'Staatliches', sans-serif;
    color: #f0f0f0;
    text-decoration: none;
}

header .back-to-top {
    text-decoration: none;
    color: #19ec89;
    font-family: 'Staatliches', sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    transition: color 0.3s ease;
}

header .back-to-top:hover {
    color: #00b2e2;
}

header a {
    text-decoration: none;
    color: #dcdcdc;
    font-size: 1.2rem;
    font-weight: 700;
    transition: color 0.3s ease;
    margin: 0 1rem;
}

header a:hover {
    color: #00b2e2;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    z-index: 2;
    overflow: hidden;
    margin-top: 60px;
    text-align: center;
}

.background-video {
    position: absolute;
    width: 80%;
    height: auto;
    max-height: 80vh;
    object-fit: cover;
    border-radius: 20px;
    z-index: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.parallax-text {
    font-size: 4rem;
    font-weight: 700;
    color: #00b2e2;
    display: flex;
    font-family: 'Staatliches', sans-serif;
    position: relative;
    z-index: 1;
}

.parallax-text span {
    display: inline-block;
    position: relative;
    transition: transform 0.3s ease, color 0.3s ease;
}

.container:hover .parallax-text span {
    transform: scale(1.2) translateY(-5px);
    color: #ffcc00;
}

.menu-items {
    font-family: 'Staatliches', sans-serif;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease;
    color: #dcdcdc;
    transform: scale(0) translate(-50%, -50%);
}

.menu-items a {
    font-family: 'Staatliches', sans-serif;
    text-decoration: none;
    color: #00b2e2;
    font-size: 1.2rem;
    margin: 0.5rem 0;
    transition: color 0.3s ease;
}

.menu-items a:hover {
    color: #ffcc00;
}

.head-about{
    display: contents;
    font-size: 5rem;
    font-family: 'Staatliches', sans-serif;
    color: #ffffff;
}

.comp-about{
    font-size: 4vh;
    font-weight: 700;
    font-family: 'Staatliches', sans-serif;
    color: #ffffff;
}

.comp-aboutli{
    position: relative;
    margin-top: 20px;
    font-size: 1vh;
    font-weight: 700;
    font-family: 'Staatliches', sans-serif;
    color: #ffffff;
}
.comp2-about{
    font-size: 2vh;
    color: #ffffff;
}

.head-portfolio{
    font-family: 'Staatliches', sans-serif;
    color: #ffffff;
}

.head-work{
    font-family: 'Staatliches', sans-serif;
    color: #ffffff;
}

.head-gal{
    font-family: 'Staatliches', sans-serif;
    color: #ffffff;
}

.container:hover .menu-items {
    opacity: 1;
    transform: scale(1) translate(-50%, -50%);
}

.menu-item-1 { transform: translate(-150px, 50px); }
.menu-item-2 { transform: translate(150px, -150px); }
.menu-item-3 { transform: translate(150px, 150px); }

/* Sections */
section {
    padding: 80px 20px;
    background: #1f1f1f;
    min-height: auto;
    padding: 60px 20px;
    box-sizing: border-box;
    margin-top: 60px; 
    text-align: center;
    color: #dcdcdc;
}

section h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #00b2e2;
    font-weight: 700;
}

section p {
    font-size: 1.2rem;
    line-height: 1.6;
    margin: 0 auto;
    max-width: 800px; 
}


section:nth-of-type(even) {
    background: #121212;
}

section:nth-of-type(odd) {
    background: #121212 ;
}


.photo-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    grid-auto-rows: auto;
    align-items: center;
    height: fit-content;
    margin-top: 2rem;
}

.photo-item {
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.1s ease; 
    will-change: transform;
    position: relative; 
}

.photo-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease; 
}

.photo-item img:hover {
    transform: scale(1.1);
}


.photo-item a {
    display: block;
    text-decoration: none; 
    color: inherit; 
}


#social-media {
    width: fill;
    padding: 60px 0px;
    background: #0c0c0c;
    text-align: center;

}

#social-media h2 {
    height: fit-content;
    font-size: 0.7rem;
    margin-bottom: 1rem;
    color: #8a8a8a;
    font-weight: 700;
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 20px;
    margin: 0;
    padding: 10px 0;
}

.wrap {
    font-family: 'Staatliches', sans-serif;
    font-weight: 200;
    font-size: 10%;
}

.social-icons a {
    display: inline-block;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.social-icons a:hover {
    transform: scale(1.1);
    opacity: 0.8;
}

.social-icons img {
    width: 40px;
}